<div id="<%= dom_id friend %>">
<table class="table">
<thead>
<tr>
  <th><strong>First name:</strong></th>
  <th><strong>Last name:</strong></th>
  <th><strong>Email:</strong></th>
  <th><strong>Phone#:</strong></th>
  <th><strong>Twitter:</strong></th>
</tr>
</thead>
<tbody>
<tr>
  <td><p><%= friend.First_name %></p></td>
  <td><p><%= friend.Last_name %></p></td>
  <td><p><%= friend.Email %></p></td>
  <td><p><%= friend.Phone %></p></td>
  <td><p><%= friend.Twitter %></p></td>
</tr>
</tbody>
</table>
</div>


<%# <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> %>
